<input #namebox placeholder="username">

<div>
    <button class="rollSelector" (click)="getRolls(namebox.value, 1)" style="background-color:#2a2929">1</button>
    <button class="rollSelector" (click)="getRolls(namebox.value, 2)" style="background-color:#2a2929">2</button>
    <button class="rollSelector" (click)="getRolls(namebox.value, 3)" style="background-color:#2a2929">3</button>
    <button class="rollSelector" (click)="getRolls(namebox.value, 4)" style="background-color:#2a2929">4</button>
</div>
<div>
    <button class="rollSelector" (click)="getRolls(namebox.value, 5)" style="background-color:#2a2929">5</button>
    <button class="rollSelector" (click)="getRolls(namebox.value, 6)" style="background-color:#2a2929">6</button>
    <button class="rollSelector" (click)="getRolls(namebox.value, 7)" style="background-color:#2a2929">7</button>
    <button class="rollSelector" (click)="getRolls(namebox.value, 8)" style="background-color:#2a2929">8</button>
</div>

<div *ngIf="rolls" style="padding-top:50px"> 
    <button class="rollResult" *ngFor="let roll of rolls" (click)="selectRoll(roll)" [ngStyle]="{'background-color': roll.style}">
        {{roll.value}}
    </button>

</div>

<div *ngIf="reRolls" style="padding-top:25px">
<button class="rollResult" *ngFor="let roll of reRolls" (click)="selectRoll(roll)" [ngStyle]="{'background-color': roll.style}">
        {{roll.value}}
    </button>

    <div>
        <button class="rollSelector" style="margin-top:25px; background-color:#dd07dd" (click)="reRoll(namebox.value)">re-roll</button>
    </div>
</div>



